.contact-box
	display flex
	align-items center
	width 100%
	margin 20px
	.site-img
		image
			width 120px
			height 120px
	.site-text
		display flex
		flex-direction column
		padding 20px
		align-items center
		width 100%