.find-box
	padding 10px 20px
	.find-item-cell
		margin 20px 0
		flex-direction column
		padding 0
		border-radius 8px 8px 0 0
		image
			width 100%
			border-radius 8px 8px 0 0
		.text-box
			display flex
			flex-direction column
			padding 20px
			.text
				margin 20px 0 40px
				position relative
			.title
				color gray